<html>
<body>
<div>Hi <%= name %> ,<br><br>
    <span style="white-space:pre-wrap">    </span>
    Welcome to use our websit!<br><br>
    
    
	<p><span style="white-space:pre-wrap">    </span>
        Please click the follow link to accomplish your registiration process:<br>
        <span style="white-space:pre-wrap">    </span>
        http://127.0.0.1/accounts/register?confirmation=1</p>
	<br><br>

--mars.com<br><br>
This is an automatic email, please do not reply!<br>

</div>
</body>
</html>
