<div>Hi {{name}} {{surname}},<br><br>
    <span style="white-space:pre-wrap">    </span>
    Welcome to use mProbe.com!<br><br>
    
    
	<p><span style="white-space:pre-wrap">    </span>
        Please click the follow link to accomplish your registiration process:<br>
        <span style="white-space:pre-wrap">    </span>
        http://127.0.0.1/accounts/register?confirmation=1</p>
	<br><br>
    <span style="white-space:pre-wrap">    </span>If you click the link without redirecting, please copy it to your browser to get 
the access to mProbe.com<br><br><br>

--mProbe.com<br><br>
This is an automatic email, please do not reply!<br>

</div>
